<div class="alert alert-danger" ng-show="errors.length">
  <a class="close" data-dismiss="alert" ng-click="errors = false">&times;</a>
  <ul ng-repeat="error in errors" ng-show="errors.length > 1"><li>{{ error }}</li></ul>
  <span ng-show="errors.length == 1">{{ errors[0] }}</span>
</div>

<div class="alert alert-success" ng-show="success">
  Everything looks okay.
</div>

<div class="pull-right input-group">
    <select ng-model="ip">
        <option ng-repeat="ip in (ipFw | orderBy:'ip')">{{ ip.ip }}</option>
    </select>
</div>

<h3>Firewall rules <span ng-show="ip">of {{ ip }}</span></h3>

<div ng-show="rules" class="rules">
    <div class="pull-right"><a ng-click="list()" class="btn btn-default btn-small">Refresh</a></div>
    <h4>Existing rules</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>State</th>
                <th>Seq</th>
                <th>Rule</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rule in (rules | orderBy:'sequence')">
                <td><span class="label label-default ng-binding">{{ rule.state }}</span></td>
                <td>{{ rule.sequence }}</td>
                <td>{{ rule.rule }}</td>
                <td><a class="btn btn-danger btn-small" ng-click="remove(rule.sequence)">Remove</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <h4>Add new rules (one by line)</h4>
    <form class="form-horizontal" ng-submit="process()">
        <textarea ng-model="newRulesRaw" rows="10"></textarea>
        <div clas="helpblock">
            <p>
                Format: 
                <pre>sequence_id (permit|deny) (ipv4|icmp|tcp|udp) (any|ipsrc) [eq port_src_from port_src_to] ipdst [eq port_dst_from port_dst_to] {urg,psh,ack,syn,fin,rst,established,fragments}</pre>
            </p>
            <p>
                Example: <pre>01 permit tcp 42.42.0.0/16 {{ ip || 'x.x.x.x' }} eq 80</pre>
            </p>
        </div>
    
        <div class="clearfix"></div>

        <h4>Summary of new rules</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sequence</th>
                    <th>Action</th>
                    <th>Protocol</th>
                    <th>Source ip</th>
                    <th>Source port</th>
                    <th>IP on Firewall</th>
                    <th>Destination port</th>
                    <th>TCP/UDP Options</th>
                    <th>Error</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="newRule in newRules" ng-class="{danger: newRule.error}">
                    <td>{{ newRule.sequence }}</td>
                    <td>{{ newRule.action }}</td>
                    <td>{{ newRule.protocol }}</td>
                    <td>{{ newRule.ip_src }}</td>
                    <td>{{ newRule.port_src[0] }} - {{ newRule.port_src[1] }}</td>
                    <td>{{ newRule.ip_dst }}</td>
                    <td>{{ newRule.port_dst[0] }} - {{ newRule.port_dst[1] }}</td>
                    <td>{{ newRule.options }}</td>
                    <td>{{ newRule.error }}</td>
                </tr>
            </tbody>
        </table>

        <div class="pull-right"><button type="submit" class="btn btn-primary">Add</button></div>
    </form>
</div>

<style>
    body {
        margin-bottom: 50px;
    }

    .clearfix {
        clear: right;
        margin-bottom: 30px;
    }

    .rules {
        margin-top: 30px;
    }
</style>