<div class="alert alert-danger" ng-show="errors.length">
  <a class="close" data-dismiss="alert" ng-click="errors = false">&times;</a>
  <ul ng-repeat="error in errors" ng-show="errors.length > 1"><li>{{ error }}</li></ul>
  <span ng-show="errors.length == 1">{{ errors[0] }}</span>
</div>

<div class="pull-right input-group">
	<select ng-model="ip">
		<option ng-repeat="ip in (ips | sort)">{{ ip }}</option>
	</select>
</div>

<h3>Tasks</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Function</th>
			<th>Status</th>
			<th>Details</th>
			<th></th>
		</tr>
	</thead>
	<tbody>				
		<tr ng-repeat="task in tasks">
			<td>{{ task.id }}</td>
			<td>{{ task.function }}</td>
			<td>{{ task.status }}</td>
			<td>{{ task.details }}</td>
			<td><a class="btn btn-danger btn-small" ng-click="remove(ip.ip, task.id)">Remove</a></td>
		</tr>
	</tbody>
</table>